<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bizzy.projectalpha.speeddating">

    <!-- forcing override on these libraries due to minSdkVerion used in gradle build -->
    <uses-sdk tools:overrideLibrary="com.facebook,com.toptoche.multiselectwidget,rikka.materialpreference,
    com.codemybrainsout.placesearch,com.schibstedspain.leku,com.joaquimley.faboptions"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".AuthApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name"
        tools:node="replace">

        <meta-data android:name="CLOUDINARY_URL" android:value="cloudinary://873565464766346:OdW6OguH0S1vcL41uBN0FHrBNmA@bisfrim"/>

        <activity
            android:name=".activities.UserDispatchActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCeenqBPzSxisN98O-rcU4VgYD27Tl37tY" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_user_account" />
        <activity
            android:name=".activities.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.MessageActivity"
            android:label="@string/title_activity_messaging"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activities.FindMatchActivity" />
        <activity
            android:name=".activities.EditProfileFragment"
            android:label="@string/profile_edit"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.PeopleNearMeActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.UsersProfileActivity"
            android:launchMode="singleTask"
            android:label=""/>

        <activity
            android:name="com.schibstedspain.leku.LocationPickerActivity"
            android:label="@string/title_activity_location_picker"
            android:parentActivityName=".activities.PeopleNearMeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PeopleNearMeActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="Settings"
            android:theme="@style/AppTheme.Settings"
            android:launchMode="singleTask">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="31c89a863e33ac9576fd630b0e353be2d5752530" />


        <activity
            android:name="com.esafirm.imagepicker.features.ImagePickerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/ImagePickerTheme"/>
<!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.imagepicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.easyphotopicker.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                />
        </provider>

        <activity
            android:name="com.gun0912.tedpermission.TedPermissionActivity"/>

    </application>

</manifest>